[submodule "plugins/jenkinsStatus"]
	path = plugins/jenkinsStatus
	url = git@github.com:jackmac92/cbiStatusLights.git 
[submodule "plugins/serverJump"]
	path = plugins/serverJump
	url = git@github.com:jackmac92/serverJump.git
[submodule "plugins/tickets"]
	path = plugins/tickets
	url = git@github.com:jackmac92/jiraBitbar.git
